/* Dark Theme */
.dark {
  /* Background color */
  --color-bg-primary: black;
  --color-bg-secondary: #111827;
  --color-bg-tertiary: #374151;

  /* Text color */
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-text-tertiary: #9ca3af;

  /* Button styles */
  --color-button-primary-bg: #4b5563;
  --color-button-primary-text: #f9fafb;
  --color-button-secondary-bg: #6b7280;
  --color-button-secondary-text: #f9fafb;
}

/* Example styles */
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.navbar {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.menu li {
  color: var(--color-text-secondary);
}

.btn {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.btn-ghost {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

/* Light Theme */
.light {
  /* Background color */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f9f9f9;
  --color-bg-tertiary: #eeeeee;

  /* Text color */
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-tertiary: #999999;

  /* Button styles */
  --color-button-primary-bg: #f2f2f2;
  --color-button-primary-text: #333333;
  --color-button-secondary-bg: #dddddd;
  --color-button-secondary-text: #333333;
}
.dark .card {
  background-color: black;
  color: #f9fafb;
}

.light .card {
  background-color: #ffffff;
  color: #333333;
}

/* Example styles */
body.light {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.navbar.light {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.menu.light li {
  color: var(--color-text-secondary);
}

.btn.light {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.btn-ghost.light {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}
.dark .footer {
  background-color: black;
  color: #f9fafb;
}
.dark .navbar {
  background-color: black;
  color: #f9fafb;
}
.dark .login-auth {
  background-color: black;
  color: #f9fafb;
}
.dark .show-password {
  background-color: black;
  color: #f9fafb;
}
.dark th {
  background-color: black;
  color: #f9fafb;
}
.dark input {
  background-color: black;
  color: #f9fafb;
}
.dark select {
  background-color: black;
  color: #f9fafb;
}
.dark .modal-box {
  background-color: black;
  color: #f9fafb;
}
.dark .react-tabs__tab {
  background-color: black;
  color: #f9fafb;
}
.dark .react-tabs__tab--selected {
  background-color: #f97316;
  color: #fff;
}
